<server description="WebSphere Liberty Application Server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="-1"
                  host="*" />

    <webApplication location="your-app.war" contextRoot="/" />
</server>
